h1{
    color: orange;
    text-align: center;
}
.content {
    color: rgb(66, 215, 66);
}
p{
    color: slateblue;
    text-align: right;
    line-height: 50px;
}

/* ul{border-width: 2px;
border-style: solid;
border-color: skyblue;
} */

ul{border: 2px solid skyblue;

text-shadow: 1px 1px lightgray;}

div{
    color:red;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}

p{
    color: orange;
}